* {
  margin: 10;
  padding: 10;
}

.container-flex {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  height: 420px;
  border: solid black;
}

.grid div {
  width: 15px;
  height: 15px;
}

.pac-dot {
  background-color: green;
  border: 5px solid white;
  box-sizing: border-box;
}

.wall {
  background-color: blue;
}

.power-pellet {
  background-color: green;
  border-radius: 7.5px;
}

.ghost-lair {
  background-color: lightgrey;
}

.pacman {
  background-color: orange;
  border-radius: 7.5px;
  border: none;
}
