* {
  margin: 10;
  padding: 10;
}

.container-flex {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 560px;
  height: 560px;
  border: solid black;
  position: relative;
}

.grid div {
  width: 20px;
  height: 20px;
}

.pac-dot {
  background-color: green;
  border: 5px solid white;
  box-sizing: border-box;
}

.wall {
  background-color: blue;
}

.ghost-lair {
    background-color: #f0f0f0;
}

.power-pellet {
  background-color: green;
  border-radius: 7.5px;
}

.pacman {
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid orange;
    border-left: 10px solid orange;
    border-bottom: 10px solid orange;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    box-sizing: border-box;
}

.pacman-right {
    transform: none;
}

.pacman-left {
    transform: rotate(180deg);
}

.pacman-down {
    transform: rotate(90deg);
}

.pacman-up {
    transform: rotate(-90deg);
}

/* old pac man class */
/* .pacman {
    background-color: orange;
    border-radius: 7.5px;
    border: none;
} */

.blink {
    background-color: red;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-sizing: border-box;
}
.pinky {
    background-color: pink;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
}

.inky {
    background-color: burlywood;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
}

.clyde {
    background-color: aqua;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
}

.scared-ghost {
    background-color: aquamarine;
    border: none;
}
